@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   @model MVCExerciseTry1.Models.Character

@{
    ViewBag.Title = "Index";
 
}

<h2>@Model.FirstName @Model.SurName</h2>

<p>Hello from our View Template!</p>